In [ ]:
Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
Sets are written with curly brackets.

In [1]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

In [2]:
#Duplicates Not Allowed
#Sets cannot have two items with the same value.

#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
Union() function in Python

Python set Union() Method returns a new set that contains all the items from the original set.

The union of two given sets is the set that contains all the elements of both sets. The union of two given sets A and B is a set that consists of all the elements of A and all the elements of B such that no element is repeated.

In [3]:
A = {2, 4, 5, 6} 
B = {4, 6, 7, 8}
 
print("A U B:", A.union(B))

A U B: {2, 4, 5, 6, 7, 8}

In [4]:
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}
set3 = {7, 8, 9, 10}
 
# union of two sets
print("set1 U set2 : ", set1 | set2)
 
# union of three sets
print("set1 U set2 U set3 :", set1 |set2 | set3)

set1 U set2 :  {2, 4, 5, 6, 7, 8}
set1 U set2 U set3 : {2, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
Intersection() function Python

Python set intersection() method returns a new set with an element that is common to all set

The intersection of two given sets is the largest set, which contains all the elements that are common to both sets. The intersection of two given sets A and B is a set which consists of all the elements which are common to both A and B.

In [5]:
s1 = {1, 2, 3}
s2 = {2, 3}
print(s1.intersection(s2))

{2, 3}

In [6]:
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}
set3 = {4, 6, 8}
 
# intersection of two sets
print("set1 intersection set2 : ",
      set1.intersection(set2))
 
# intersection of three sets
print("set1 intersection set2 intersection set3 :",
      set1.intersection(set2, set3))

set1 intersection set2 :  {4, 6}
set1 intersection set2 intersection set3 : {4, 6}

In [ ]:
Python Set symmetric_difference()

The symmetric difference of two sets set1 and set2 is the set of elements which are in either of the sets set1 or set2 but not in both.

In [7]:
list1 = [1, 2, 3]  
list2 = [2, 3, 4]  
list3 = [3, 4, 5]  
  
# Convert list to sets 
set1 = set(list1)  
set2 = set(list2)  
  
# Prints the symmetric difference when   
# set is passed as a parameter  
print(set1.symmetric_difference(set2))  
  
# Prints the symmetric difference when list is  
# passed as a parameter by converting it to a set 
print(set2.symmetric_difference(list3))

{1, 4}
{2, 5}

In [ ]:
The difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [8]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

myset = a - b

print(myset)

{'cherry', 'banana'}

In [ ]:
Remove the last element from the set Using discard() method

discard() method can also remove the element from the set, by passing the element into this function.

In [9]:
s = {1, 2, 3, 4}
s.discard(4)
print(s)
 
s = {"Geeks", "For"}
s.discard("Geeks")
print(s)

{1, 2, 3}
{'For'}